<div class="container">
    <div>
      Welcome <b>{{name}}</b>.<br /> You have posted <b>{{postLength}}</b> time(s) and <div class="container">
  <div>
    Welcome <b>{{name}}</b>.<br /> You have posted <b>{{postLength}}</b> time(s) and responded
    <b>{{responseLength}}</b> time(s).
    You can check your post and response history below.
  </div>
  <hr />
  <div>
    Your Posts:
  </div>
  <app-post-tile [posts]="posts"></app-post-tile>
  <hr />
  <div>
    Your Responses:
  </div>
  <div *ngFor="let response of responses">
    <div class="response">
      <div class="username">
        <a routerLink="/user/response.username">{{response.userName}}</a>
      </div>
      <div>
        <p>{{response.duration}}</p>
      </div>
      <b>{{response.text}}</b>
    </div>
    <hr />
  </div>
</div>ed
      <b>{{responseLength}}</b> time(s).
      You can check your post and response history below.
    </div>
    <hr />
    <div>
      Your Posts:
    </div>
    <app-post-tile [posts]="posts"></app-post-tile>
    <hr />
    <div>
      Your Responses:
    </div>
    <div *ngFor="let response of responses">
      <div class="response">
        <div class="username">
          <a routerLink="/user/response.username">{{response.userName}}</a>
        </div>
        <div>
          <p>{{response.duration}}</p>
        </div>
        <b>{{response.text}}</b>
      </div>
      <hr />
    </div>
  </div>